.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.form {
	max-width: 40rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 3rem;
	border-radius: 5px;
}
.text-highlight {
	color: var(--danger-color);
}
.dropdown-menu{
	padding: 1rem;
	border:2px solid black;
	border-radius: 5px;
	font-size: 1.5rem;
}
@media screen and (max-width: 850px) {
	.btn-menu {
		display: block;
	}
	.btn-hide {
		display: none;
	}
}
