.nav {
	height: 6rem;
	position: fixed;
	z-index: 5;
}
.nav-sub-container {
	display: flex;
	align-items: center;
	padding: 1rem;
	gap: 2rem;
}
.youtube-icon {
	color: var(--primary-color);
}
.youtube-icon:hover {
	cursor: pointer;
}
.search-bar {
	background-color: var(--hover-color);
	border-radius: 5px;
}
.search-bar input {
	line-height: 3.5rem;
	border: none;
	background-color: var(--hover-color);
	padding-left: 1rem;
	border-radius: 10px;
}
.search-bar input:focus-visible {
	outline: none;
}
.search-bar .btn-icon {
	padding: 0 1rem;
}
.btn-icon {
	color: #000;
}
.header-link {
	text-decoration: none;
	background-color: transparent;
	border: none;
}

.btn-sidebar-menu {
	display: none;
}
@media only screen and (max-width: 768px) {
	.btn-sidebar-menu {
		display: block;
	}
}

@media (max-width: 48em) {
	.hide {
		display: none;
	}
}
