.home-page-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
}
.content-section {
	display: grid;
	grid-template-columns: 20rem 1fr;
	height: calc(100vh - 5rem);
	position: relative;
	top: 6rem;
}	
.aside {
	height: 100%;
	border-right: 2px solid var(--color-gray);
	position: sticky;
}
.main-section {
	height: 100%;
	padding: 1rem;
	overflow: scroll;
}
.mobile-nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: none;
	background-color: red;
}
@media only screen and (max-width: 768px) {
	.aside {
		display: none;
	}
	.mobile-nav {
		display: block;
	}
	.content-section {
		grid-template-columns: 1fr;
	}
}
